# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.env
.env
.venv
venv/
env/
clyenv/
/frontend/.env*

# FastAPI / Uvicorn
*.db
*.sqlite3

# --------------------
# Node / Frontend
# --------------------
node_modules/
dist/
build/
.cache/
.next/
out/
*.tsbuildinfo

# Vite
vite.svg
*.local

# --------------------
# Logs
# --------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------
# OS / System files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------
# Application Cache & Uploads
# --------------------
backend/.material_cache/
backend/uploads/

# --------------------
# Workspace files (VSCode)
# --------------------
*.code-workspace